<config>
    <modules>
        <Manthan_Marketplace>
            <version>1.0.0</version>
        </Manthan_Marketplace>
    </modules> 
    <global>
        <models>
            <marketplace>
                <class>Manthan_Marketplace_Model</class>
                <resourceModel>marketplace_mysql4</resourceModel>
            </marketplace>
            <marketplace_mysql4>
                <class>Manthan_Marketplace_Model_Mysql4</class>
                <entities>
                    <seller>
                        <table>manthan_marketplace_seller</table>
                    </seller>
					<vendorproduct>
                        <table>manthan_marketplace_vendorproduct</table>
                    </vendorproduct>
					<review>
                        <table>manthan_marketplace_review</table>
                    </review>
					<rating>
                        <table>manthan_marketplace_rating</table>
                    </rating>
                    <sellerrate>
                        <table>manthan_marketplace_seller_rated</table>
                    </sellerrate>
					<payment>
                        <table>manthan_marketplace_payment</table>
                    </payment>
                </entities>
            </marketplace_mysql4>
        </models>
		<resources>
            <marketplace_setup>
                <setup>
                    <module>Manthan_Marketplace</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </marketplace_setup>
            <marketplace_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </marketplace_write>
            <marketplace_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </marketplace_read>
        </resources>
        <blocks>
            <marketplace>
                <class>Manthan_Marketplace_Block</class>
            </marketplace>
			<catalog>
                  <rewrite>
                       <product_list>Manthan_Marketplace_Block_Seller_Catalog_Product_List</product_list>
                  </rewrite>
			</catalog>
			<sales>
				<rewrite>
					<order_item_renderer_default>Manthan_Marketplace_Block_Sales_Order_Item_Renderer_Default</order_item_renderer_default>
					<order_item_renderer_grouped>Manthan_Marketplace_Block_Sales_Order_Item_Renderer_Grouped</order_item_renderer_grouped>
				</rewrite>
			</sales>
			<adminhtml>
                <rewrite>
					<system_account_edit_form>Manthan_Marketplace_Block_Adminhtml_System_Account_Edit_Form</system_account_edit_form>
                </rewrite>
				 <rewrite>
					<catalog_product_grid>Manthan_Marketplace_Block_Adminhtml_Catalog_Product_Grid</catalog_product_grid>
				</rewrite>
            </adminhtml>
        </blocks>
        <helpers>
            <marketplace>
                <class>Manthan_Marketplace_Helper</class>
            </marketplace>
        </helpers>
		<events>
			<checkout_onepage_controller_success_action>
				<observers>
					<checkout_onepage_controller_success_action>
						<type>singleton</type>
						<class>marketplace/observer</class>
						<method>sellerOperationAfterOrderSuccess</method>
					</checkout_onepage_controller_success_action>
				</observers>
			</checkout_onepage_controller_success_action>
			<catalog_product_type_prepare_full_options>
				<observers>
					<manthan_marketplace_catalog_product_type_prepare_full_options>
						<type>singleton</type>
						<class>marketplace/observer</class>
						<method>addSellerInfo</method>
					</manthan_marketplace_catalog_product_type_prepare_full_options>
				</observers>
			</catalog_product_type_prepare_full_options>
			<sales_convert_quote_item_to_order_item>
				<observers>
					<manthan_marketplace_sales_convert_quote_item_to_order_item>
						<type>model</type>
						<class>marketplace/observer</class>
						<method>saveSellerToOrderItem</method>
					</manthan_marketplace_sales_convert_quote_item_to_order_item>
				</observers>
			</sales_convert_quote_item_to_order_item>
			<controller_action_layout_generate_xml_before>
				<observers>
					<manthan_marketplace_controller_action_layout_generate_xml_before>
						<class>marketplace/observer</class>
						<method>dynamicSellerLink</method>
					</manthan_marketplace_controller_action_layout_generate_xml_before>
				</observers>
			</controller_action_layout_generate_xml_before>
		</events>
		 <template>
            <email>
                <marketplace_vendor_registration_email_email_template module="marketplace">
					<label>New Seller Register</label>
                    <file>marketplace/seller_new_registration_email.html</file>
                    <type>html</type>
                </marketplace_vendor_registration_email_email_template>
                <marketplace_vendor_activation_email_email_template module="marketplace">
					<label>Seller Status Changed</label>
                    <file>marketplace/seller_activation_email.html</file>
                    <type>html</type>
                </marketplace_vendor_activation_email_email_template>
                <marketplace_email_email_template module="marketplace">
                    <label>Seller New Order</label>
                    <file>sales/seller_new_order.html</file>
                    <type>html</type>
                </marketplace_email_email_template>
				<marketplace_registration_confirmation_email_email_template module="marketplace">
					<label>New Seller Confirmed</label>
                    <file>marketplace/seller_confirmation_email.html</file>
                    <type>html</type>
                </marketplace_registration_confirmation_email_email_template>
            </email>
        </template>
    </global>
	<default>
       <web>
         <routers>
            <seller>
                <area>frontend</area>
                <class>Manthan_Marketplace_Controller_Router</class>
            </seller>
        </routers>
       </web>
    </default>	
    <frontend>
        <routers>
            <marketplace>
                <use>standard</use>
                <args>
                    <module>Manthan_Marketplace</module>
                    <frontName>marketplace</frontName>
                </args>
            </marketplace>
        </routers>
		<layout>
            <updates>
                <marketplace>
                    <file>marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
		<translate>
            <modules>
                <marketplace>
                    <files>
                        <default>Manthan_Marketplace.csv</default>
                    </files>
                </marketplace>
            </modules>
        </translate>
    </frontend>
	<admin>
        <routers>
            <admin_marketplace>
                <use>admin</use>
                <args>
                    <module>Manthan_Marketplace</module>
                    <frontName>admin_marketplace</frontName>
                </args>
            </admin_marketplace>
			 <adminhtml>
                <args>
                    <modules>
                        <Manthan_Marketplace before="Mage_Adminhtml">Manthan_Marketplace_Adminhtml_Admin</Manthan_Marketplace>
					</modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
	 <adminhtml>
		<layout>
            <updates>
                <marketplace>
                    <file>marketplace.xml</file>
                </marketplace>
            </updates>
        </layout>
		<translate>
            <modules>
                <marketplace>
                    <files>
                        <default>Manthan_Marketplace.csv</default>
                    </files>
                </marketplace>
            </modules>
        </translate>
		<events>
			<catalog_product_save_after>
				<observers>
					<manthan_marketplace_catalog_product_save_after>
						<type>singleton</type>
						<class>marketplace/observer</class>
						<method>catalogProductSaveAfter</method>
					</manthan_marketplace_catalog_product_save_after>
				</observers>
			</catalog_product_save_after>
			<catalog_product_collection_load_before>
			  <observers>
				<manthan_marketplace_catalog_product_collection_load_before>
				  <type>singleton</type>
				  <class>marketplace/observer</class>
				  <method>customFilterProductCollection</method>
				</manthan_marketplace_catalog_product_collection_load_before>
			  </observers>
			</catalog_product_collection_load_before>
			<controller_action_layout_generate_blocks_before>
				<observers>
					<module_block_observer>
						<type>singleton</type>
						<class>marketplace/observer</class>
						<method>checkPermissionRole</method>
					</module_block_observer>
				</observers>
			</controller_action_layout_generate_blocks_before>
			<catalog_product_delete_before>
				<observers>
					<manthan_marketplace_catalog_product_delete_before>
						<type>singleton</type>
						<class>marketplace/observer</class>
						<method>catalogProductDeleteBefore</method>
					</manthan_marketplace_catalog_product_delete_before>
				</observers>
			</catalog_product_delete_before>
		</events>
        <menu>
            <manthan translate="title" module="adminhtml">
                <title>Manthan</title>
                <sort_order>80</sort_order>
                <children>
					<marketplace>
						<title>Marketplace</title>
						<sort_order>10</sort_order>
						<children>
							<pending_product>
								<title>Pending Products</title>
								<sort_order>10</sort_order>
								<action>adminhtml/catalog_product/index/product_status/1</action>
							</pending_product>
							<sellers>
								<title>Manage Sellers</title>
								<sort_order>20</sort_order>
								<action>admin_marketplace/adminhtml_account</action>
							</sellers>
							<review>
								<title>Manage Reviews</title>
								<sort_order>30</sort_order>
								<action>admin_marketplace/adminhtml_review</action>
							</review>
							<rating>
								<title>Manage Ratings</title>
								<sort_order>40</sort_order>
								<action>admin_marketplace/adminhtml_rating</action>
							</rating>
							<payment>
								<title>Seller Transaction</title>
								<sort_order>50</sort_order>
								<action>admin_marketplace/adminhtml_payment</action>
							</payment>
							<configuration>
								<title>Configuration</title>
								<sort_order>60</sort_order>
								<action>adminhtml/system_config/edit/section/marketplace/</action>
							</configuration>
						</children>
					</marketplace>
				</children>
            </manthan>
			<seller_dashboard module="adminhtml">
					<title>Dashboard</title>
					<sort_order>10</sort_order>
					<action>admin_marketplace/adminhtml_dashboard</action>
			</seller_dashboard>
			<seller translate="title" module="adminhtml">
                <title>Sales</title>
                <sort_order>20</sort_order>
                <children>
					<orders>
						<title>Manage Orders</title>
						<sort_order>10</sort_order>
						<action>admin_marketplace/adminhtml_order</action>
					</orders>
					<review>
						<title>Manage Reviews</title>
						<sort_order>20</sort_order>
						<action>admin_marketplace/adminhtml_review</action>
					</review>
					<payment>
						<title>Seller Transaction</title>
						<sort_order>40</sort_order>
						<action>admin_marketplace/adminhtml_payment</action>
					</payment>
                </children>
            </seller>
        </menu>
		 <acl>
            <resources>
                <admin>
                    <children>
						<seller_dashboard>
							<title>Dashboard</title>
						</seller_dashboard>
                        <seller>
                            <title>Seller</title>
                            <children>
								<review>
									<title>review</title>
								</review>
								<orders>
									<title>Orders</title>
								</orders>								
								<payment>
									<title>Seller Transaction</title>
								</payment>
                            </children>
                        </seller>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <marketplace>
                                            <title>Market Place Section</title>
                                        </marketplace>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
	<default>
        <marketplace>
			<seller>
				<product_status>1</product_status>
				<link_label>Connect as Seller</link_label>
			</seller>
			<review>
				<per_page>12,24,36</per_page>
			</review>
			 <email>
                <email_sender>sales</email_sender>
                <email_template>marketplace_email_email_template</email_template>
            </email>
            <vendor_registration_email>
				<email_template>marketplace_vendor_registration_email_email_template</email_template>
            </vendor_registration_email>
            <vendor_activation_email>
				<email_template>marketplace_vendor_activation_email_email_template</email_template>
            </vendor_activation_email>
            <registration_confirmation_email>
				<email_template>marketplace_registration_confirmation_email_email_template</email_template>
            </registration_confirmation_email>
        </marketplace>
    </default>
</config>
